//header
header {
	position: fixed;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	@include flex-sp-betw;
	padding: 34px 50px;
	background-color: #FFF;
	z-index: 10000;
	height: 100px;	
}
.header-logo {
	width: 150px;
}
.header-menu {
	@include flex-sp-betw;
	&__item {
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		font-size: 16px;
		text-transform: uppercase;	
		&:after {
			bottom: -2px;
		}	
	}
}
.header-submenu {
	@include flex-sp-betw;
	&__item {
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.lang {
	position: relative;
	text-transform: uppercase;
	&__item {
		display: block;
		cursor: pointer;
		&--hidden {
			display: none;
		}
	}
	&__toggle {
		position: absolute;
		top: 6px;	
		right: -15px;	
		width: 10px;	
		height: 6px;	
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: -1px;
			width: 8px;
			height: 1px;
			background-color: #000;
			transform: rotate(45deg);
		}
		&:after {
			content: '';
			position: absolute;
			top: 2px;
			left: 5px;
			width: 8px;
			height: 1px;
			background-color: #000;
			transform: rotate(-45deg);
		}
		&--reset {
			transform: rotate(0);
			transition: .6s;
		}
		&--rotate {
			transform: rotate(-180deg);
			transition: .6s;
		}
	}
}
//home

.h-sec1 {
	margin-bottom: 75px;
	height: 525px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	&__box {
		padding: 50px 20px 38px 40px;
		width: 400px;
		background-color: #FFF;
	}
	&__btn {
		padding-left: 29px;
		padding-right: 29px;
	}
}
.h-h1 {
	margin-bottom: 50px;
	line-height: 1.33333;
	font: {
		size: 30px;
		weight: 300;
	}
}

// .h-sec-gender {
// 	position: relative;
// 	height: 370px;
// 	width: calc(100% - 120px);
// 	margin: 0 auto 100px;
// 	&__box {
// 		position: absolute;
// 		left: 9.75%;
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// 	&__link {
// 		display: block;
// 		width: 240px;
// 		margin-bottom: 20px;
// 		text-align: center;
// 		&:last-child {
// 			margin-bottom: 0;			
// 		}
// 	}
// }



//prod
.sec-prod {
	&__col {
		@include flex-sp-betw;
		flex-wrap: wrap;
	}
	&__box {
		margin-bottom: 20px;
		height: 240px;
		position: relative;
		overflow: hidden;
		perspective: 50em;
		text-align: center;
		&--width50 {
			width: 47.8%;
		}
		&--long {
			height: 500px;
			width: 100%;
		}
		&--width100 {
			width: 100%;
		}
		&--hover {
  			opacity: 1;
  			transition-delay: 0.2s;
  			&:after {
  				transform: rotateX(0);
  				opacity: 0.9;
  			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			bottom: 20px;
			left: 20px;
			right: 20px;
			transition: all 0.4s ease-in-out;
			transform: rotateX(-90deg);
			transform-origin: 50% 50%;
  			opacity: 0;
  			background-color: #FFF;
		}
		&:hover .sec-prod__text {
			transform: translateY(-50%);
  			opacity: 1;
  			transition-delay: 0.2s;
		}
		&:hover:after {
			transform: rotateX(0);
  			opacity: 0.9;
		}
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 20px;
		right: 20px;
		opacity: 0;
		z-index: 1;
		transition: all 0.2s ease-out;
		font-size: 24px;
	}
}

//cerfif
.sec-certif {
	margin: 90px 0 115px;
	text-align: center;
	&__img-box {
		position: relative;
		height: 400px;
	}
	&__item {
		padding: 108px 0;
		margin-bottom: 20px;
		font-size: 24px;
		border: 1px solid #000;
		width: 47.8%;
		&:last-child {
			padding: 88px 0;
			width: 100%;
		}
	}
	&__h2 {
		@include ab-center;
		width: 74%;
	}
}

//story
.sec-story {
	font-weight: 300;
	&__box {
		height: 400px;
		position: relative;
	}
	&__link {
		@include ab-center;
		width: 74%;
		text-align: center;
	}
	&__title {
		display: block;
		margin: 30px 0 15px;
		font-size: 24px;
	}
	&__text {
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 1.25;
	}
	&__btn {
		display: flex;
		align-self: center;
		padding-left: 35px;
		padding-right: 35px;
	}
}
.story {
	margin-bottom: 20px;
	display: block;
	padding: 0 10px;
	height: 190px;
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	border: 1px solid #000;
	&__title {
		display: block;
		margin: 30px 0 15px;
		font-style: italic;
	}
}

//corporate
.corpor-img-wrapper {
	margin-top: 55px;
}
.corpor {
	&__h2 {
		margin: 0 0 30px;
	}
	&__text {
		margin-bottom: 25px;
		font-size: 16px;
		line-height: 1.25;
	}
	&__img {
		margin-bottom: 20px;
	}
	&__form {
		margin-top: 60px;
	}
}

//form
.form {
	font-family: 'Lato';
	max-width: 100%;
	&__h2 {
		margin-bottom: 30px;
	}
	&__input {
		display: block;
		margin-bottom: 10px;
		padding-left: 18px;
		width: 320px;
		max-width: 100%;
		height: 50px;
		border: 1px solid #000;
		outline: none;
		&:disabled {
			opacity: 0.5;
			background-color: #fff;
		}
	}
	&__select {
		-webkit-appearance: none;
		@extend .form__input;
	}
	&__select-decore {
		width: 320px;
		max-width: 100%;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 26px;
			right: 20px;
			width: 13px;
			height: 1px;
			background-color: #000;
			transform: rotate(45deg);
			z-index: 10;
		}
		&:after {
			content: '';
			position: absolute;
			top: 26px;
			right: 11px;
			width: 13px;
			height: 1px;
			background-color: #000;
			transform: rotate(-45deg);
			z-index: 10;
		}
	}
	&__textarea {
		@extend .form__input;
		margin-bottom: 20px;
		padding-top: 18px;
		min-height: 70px;
	}
	&__btn {
		width: 320px;
		max-width: 100%;
	}
	&__placehold {
		position: relative;
		&__item {
			transition: all 0.3s;
			position: absolute;
			top: 18px;
			left: 18px;
			font-size: 16px;
		}
	}
	&__placehold--active .form__placehold__item {
		transition: all 0.3s;
		top: 5px;
		font-size: 10px;
	}
}


//howToBuy
.how-to-buy-menu {
	position: fixed;
	width: 940px;
	left: 50px;
	&__item {
		margin-bottom: 20px;
	}
	&__link {
		font-size: 16px;
		&:after {
			bottom: -2px;
		}	
		&--active:after {
			width: 100%;
		}
	}
}
.how-to-buy {
	font-size: 16px;
	&__h2 {
		margin: 30px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	&__text {
		margin-bottom: 20px;
		line-height: 1.25;
	}
}
.how-to-buy__section {
	margin-bottom: 85px;
}
.how-to-buy-mob {
	display: none;
}
//contact
.contact {
	font-size: 16px;
	&__img {
		display: block;
		margin: 0 auto 95px;
	}
	&__title {
		margin: 55px 0 20px;
	}
	&__link {
		display: block;
		margin-bottom: 10px;
	}
}

//article
.article {
	font-size: 16px;
	&__h2 {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 25px;
		line-height: 1.25;
	}
	&__img {
		margin-bottom: 20px;
	}
}
.more-articles {
	margin-top: 80px;
	font-size: 16px;
	&__h2 {
		margin-bottom: 50px;
	}
	&__img {
		margin-bottom: 35px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 20px;
	}
	&__text {
		line-height: 1.25;
	}
}

//listingPage
.listpage {
	&__link {
		display: block;
		margin-bottom: 30px;
		text-align: center;
	}
	&__name {
		position: relative;
		height: 430px;
	}
	&__main-img {
		width: 100%;
		height: 100%;
	}
	&__h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 30px 80px;
		width: 75%;
		background-color: #FFF;
		text-align: center;
	}
	&__item {
		display: block;
		height: 170px;
	}
	&__title {
		margin: 20px 0 10px;
		font-size: 16px;
		display: block;
	}
	&__price {
		font-size: 16px;
	}
}

//bag
.bag-nav {
	margin-bottom: 55px;
	&__item {
		margin-right: 30px;	
		position: relative;
		font: {
			size: 12px;
			weight: 300;
		}
		opacity: 0.7;
		&--active {
			opacity: 1;
		}
		text-transform: uppercase;
		&:after {
			content: '';
			position: absolute;
			top: 4px;	
			right: -20px;	
			width: 6px;	
			height: 1px;	
			background-color: #606060;
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			position: absolute;
			top: 8px;	
			right: -20px;	
			width: 6px;	
			height: 1px;	
			background-color: #606060;
			transform: rotate(-45deg);
		}
		&:last-child:before {
			display: none;
		}
		&:last-child:after {
			display: none;
		}
	}
}
.bag-prod {
	display: flex;
	align-items: center;
	min-height: 105px;
	margin-bottom: 30px;
	margin-right: 20px;
	position: relative;
	vertical-align: middle;
	&__img {
		display: inline-block;
		max-width: 50%;
		height: auto;
	}
	&__title {
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 18px;
		text-align: center;
	}
	&__color {
		margin: 0 20px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}
	&__size {
		margin-right: 25px;
		font-size: 12px;
		text-transform: uppercase;
	}
	&__price {
		font-size: 18px;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		height: 8px;
		width: 8px;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			top: 2px;
			width: 10px;
			height: 1px;
			background-color: #000;
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			position: absolute;
			top: 2px;
			width: 10px;
			height: 1px;
			background-color: #000;
			transform: rotate(-45deg);
		}
	}
	&__amount {
		position: absolute;
		bottom: 0;
		left: 140px;
		font-size: 12px;
	}
}
.bag-form {
	margin-top: 40px;
	&:first-child {
		margin-top: 0;
	}
	&__btn {
		margin-top: 20px;
		width: 200px;
	}
	&__link {
		margin-left: 40px;
		border-bottom: 1px solid #000;
		font-size: 16px;
	}
}
.bag-summ {
	font-size: 20px;
}

//footer
footer {
	padding: 0 50px 125px;
	font-size: 16px;
}
.footer-container {
	position: relative;
	@include flex-sp-betw;
	&:first-child {
		margin-bottom: 95px;	
	}
}
.footer-menu {
	text-transform: uppercase;
	display: flex;
	&__item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link:after {
		bottom: -2px;
	}
}
.social {
	&__link {
		margin-right: 10px;	
		display: inline-block;
		width: 30px;	
		height: 30px;	
		&:last-child {
			margin-right: 0;
		}
	}
}
.contacts {
	&__item {
		&:first-child {
			margin-right: 20px;	
		}
		margin-bottom: 15px;
	}
}
.isagency {
	position: absolute;
	top: 0;	
	left: 50%;	
	transform: translateX(-50%);
	&__link {
		border-bottom: 1px solid #000;
	}
}

//checkout
.checkout {
	&__title {
		margin-bottom: 20px;
		font-size: 14px;
	}
	&__box {
		margin-bottom: 35px;
		font-size: 20px;
		line-height: 1.3;
	}
	&__btn {
		padding-left: 42px;
		padding-right: 42px;
	}
	&__back-link {
		margin-left: 40px;
		font-size: 16px;
		border-bottom: 1px solid #000;
	}
	&__item {
		display: block;
	}
}

//thankyou
.thankyou {
	margin-top: 45px;
	font-weight: 300;
	&__h1 {
		margin-bottom: 20px;
		font-size: 30px;
	}
	&__text {
		margin-bottom: 50px;
		font-size: 16px;
	}
	&__btn {
		display: block;
		width: 300px;
		max-width: 100%;
		text-align: center;
	}
}

//prod-card
.prod-card {
	&__box {
		margin-bottom: 45px;
		@include flex-sp-betw;
	}
	&__price {
		margin-right: 40px;
		font-size: 24px;
	}
	&__subtitle {
		margin-bottom: 18px;
		font-size: 18px;
	}
	&__item {
		margin-bottom: 25px;
		display: flex;
		justify-content: flex-start;
	}
	&__text {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 1.25;
	}
}
.prod-card-form {
	&__input {
		display: none;
	}
	&__input:checked + .prod-card-form__color-label:after {
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		width: 30px;
		height: 30px;
		border: 1px solid #000;
		border-radius: 50%;
	}
	&__input:checked + .prod-card-form__size-label:after {
		content: '';
		position: absolute;
		top: -3px;
		left: -3px;
		width: 26px;
		height: 26px;
		border: 1px solid #000;
	}
	&__color-label {
		display: block;
		position: relative;
		margin-right: 20px;
		height: 20px;
		width: 20px;
		cursor: pointer;
		border-radius: 50%;
	}
	&__size-label {
		display: block;
		margin-right: 20px;
		position: relative;
		font-size: 12px;
		width: 18px;
		height: 18px;
		text-align: center;
		padding-top: 5px;
		cursor: pointer;
	}
	&__btn {
		margin-top: 30px;
		display: block;
		width: 200px;
		text-align: center;
	}
}
.prod-slider-wrapper {
	@include flex-sp-betw;
}
.prod-card-subslider {
	height: 480px;
	width: 60px;
	&__item {
		margin-bottom: 10px;
		outline: none;
		width: 100%;
		cursor: pointer;
	}
}

.prod-card-slider {
	position: relative;
	width: calc(100% - 100px);
	height: 480px;
	&:after {
		content: url(../../../img/zoom.svg);
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&__item {
		outline: none;
		width: 100%;
		height: 480px;
		cursor: pointer;
	}
}
.see-more-prod {
	margin-top: 50px;
	&__h2 {
		margin-bottom: 30px;
	}
	&__item {
		width: 100%;
		height: 120px;
	}
}







//hidden
.header-menu__item--mob, .header-menu__close, .header-menu__open, .mob-btn, .story-mob__img, .corpor__more, .mob-img-slider, .prod-card-mob-open {
	display: none;
}