//header
header {
	position: fixed;
	width: 940px;
	left: 50%;
	transform: translateX(-50%);
	@include flex-sp-betw;
	padding: 30px 0;
	background-color: #FFF;
	z-index: 100;
}
.header-logo {
	width: 170px;
}
.header-menu {
	@include flex-sp-betw;
	&__item {
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		@include font16light;
		text-transform: uppercase;	
		&:after {
			bottom: -2px;
		}	
	}
}

//home

.h-sec1 {
	margin-bottom: 75px;
	height: 525px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	&__box {
		padding: 50px 20px 38px 40px;
		width: 400px;
		background-color: #FFF;
	}
	&__btn {
		padding-left: 29px;
		padding-right: 29px;
	}
}
.h-h1 {
	margin-bottom: 50px;
	line-height: 1.33333;
	font: {
		size: 30px;
		weight: 300;
	}
}

.h-sec-gender {
	position: relative;
	height: 370px;
	width: calc(100% - 120px);
	margin: 0 auto 100px;
	&__box {
		position: absolute;
		left: 9.75%;
		top: 50%;
		transform: translateY(-50%);
	}
	&__link {
		display: block;
		width: 240px;
		margin-bottom: 20px;
		text-align: center;
		&:last-child {
			margin-bottom: 0;			
		}
	}
}



//prod
.sec-prod {
	&__col {
		@include flex-sp-betw;
		flex-wrap: wrap;
	}
	&__box {
		margin-bottom: 20px;
		height: 240px;
		position: relative;
		overflow: hidden;
		perspective: 50em;
		text-align: center;
		&--width50 {
			width: 47.8%;
		}
		&--long {
			height: 500px;
			width: 100%;
		}
		&--width100 {
			width: 100%;
		}
		&--hover {
  			opacity: 1;
  			transition-delay: 0.2s;
  			&:after {
  				transform: rotateX(0);
  				opacity: 0.9;
  			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			bottom: 20px;
			left: 20px;
			right: 20px;
			transition: all 0.4s ease-in-out;
			transform: rotateX(-90deg);
			transform-origin: 50% 50%;
  			opacity: 0;
  			background-color: #FFF;
		}
		&:hover .sec-prod__text {
			transform: translateY(-50%);
  			opacity: 1;
  			transition-delay: 0.2s;
		}
		&:hover:after {
			transform: rotateX(0);
  			opacity: 0.9;
		}
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 20px;
		right: 20px;
		opacity: 0;
		z-index: 1;
		transition: all 0.2s ease-out;
		@include font24light;
	}
}

//cerfif
.sec-certif {
	margin: 90px 0 115px;
	text-align: center;
	&__img-box {
		position: relative;
		height: 400px;
	}
	&__item {
		padding: 108px 0;
		margin-bottom: 20px;
		@include font24light;
		border: 1px solid #000;
		width: 47.8%;
		&:last-child {
			padding: 88px 0;
			width: 100%;
		}
	}
	&__h2 {
		@include ab-center;
		width: 74%;
	}
}

//story
.sec-story {
	font-weight: 300;
	&__box {
		height: 400px;
		position: relative;
	}
	&__link {
		@include ab-center;
		width: 74%;
		text-align: center;
	}
	&__title {
		display: block;
		margin: 30px 0 15px;
		font-size: 24px;
	}
	&__text {
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 1.25;
	}
	&__btn {
		display: flex;
		align-self: center;
		padding-left: 35px;
		padding-right: 35px;
	}
}
.story {
	margin-bottom: 20px;
	display: block;
	padding: 0 10px;
	height: 190px;
	@include font16light;
	line-heigh: 1.25;
	text-align: center;
	border: 1px solid #000;
	&__title {
		display: block;
		margin: 30px 0 15px;
		font-style: italic;
	}
}

//corporate
.corpor-img-wrapper {
	margin-top: 55px;
}
.corpor {
	font-weight: 300;
	&__h2 {
		margin: 0 0 30px;
	}
	&__text {
		margin-bottom: 25px;
		font-size: 16px;
		line-height: 1.25;
	}
	&__img {
		margin-bottom: 20px;
	}
	&__form {
		margin-top: 60px;
	}
}

//form
.form {
	max-width: 100%;
	&__h2 {
		margin-bottom: 30px;
	}
	&__input {
		display: block;
		margin-bottom: 10px;
		padding-left: 18px;
		width: 320px;
		max-width: 100%;
		height: 50px;
		border: 1px solid #000;
		outline: none;
	}
	&__textarea {
		@extend .form__input;
		margin-bottom: 20px;
		padding-top: 18px;
		min-height: 70px;
	}
	&__btn {
		width: 320px;
		max-width: 100%;
	}
	&__placehold {
		position: relative;
		&:after {
			transition: all 0.3s;
			position: absolute;
			top: 18px;
			left: 18px;
			@include font16light;
		}
		&--name:after {
			content: 'Имя';
		}
		&--tel:after {
			content: 'Телефон';
		}
		&--textarea:after {
			content: 'Что вас интересует';
		}
	}
	&__placehold--active:after {
		transition: all 0.3s;
		top: 5px;
		font-size: 10px;
	}
}

//howToBuy
.how-to-buy-menu {
	position: fixed;
	width: 940px;
	left: 50%;
	transform: translateX(-50%);
	&__item {
		margin-bottom: 20px;
	}
	&__link {
		@include font16light;
		&:after {
			bottom: -2px;
		}	
		&--active:after {
			width: 100%;
		}
	}
}
.how-to-buy {
	@include font16light;
	&__h2 {
		margin: 30px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	&__text {
		margin-bottom: 20px;
		line-height: 1.25;
	}
}

//contact
.contact {
	@include font16light;
	&__img {
		margin-bottom: 95px;
	}
	&__title {
		margin: 55px 0 20px;
	}
	&__link {
		display: block;
		margin-bottom: 10px;
	}
}

//article
.article {
	@include font16light;
	&__h2 {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 25px;
		line-height: 1.25;
	}
	&__img {
		margin-bottom: 20px;
	}
}
.more-articles {
	margin-top: 80px;
	@include font16light;
	&__h2 {
		margin-bottom: 50px;
	}
	&__img {
		margin-bottom: 35px;
	}
	&__title {
		margin-bottom: 20px;
		font-size: 20px;
	}
	&__text {
		line-height: 1.25;
	}
}

//listingPage
$boxHeight: 360px;
.listpage {
	&__name {
		position: relative;
		height: $boxHeight;
	}
	&__h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 30px 80px;
		width: 75%;
		background-color: #FFF;
	}
	&__item {
		margin-bottom: 20px;
		display: block;
		height: $boxHeight/2;
	}
}

//bag
.bag-nav {
	margin-bottom: 55px;
	&__item {
		margin-right: 30px;	
		position: relative;
		font: {
			size: 12px;
			weight: 300;
		}
		color: #606060;
		text-transform: uppercase;
		&:after {
			content: '';
			position: absolute;
			top: 4px;	
			right: -20px;	
			width: 6px;	
			height: 1px;	
			background-color: #606060;
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			position: absolute;
			top: 8px;	
			right: -20px;	
			width: 6px;	
			height: 1px;	
			background-color: #606060;
			transform: rotate(-45deg);
		}
		&:last-child:before {
			display: none;
		}
		&:last-child:after {
			display: none;
		}
	}
}
.bag-prod {
	min-height: 105px;
	margin-bottom: 30px;
	margin-right: 20px;
	position: relative;
	font-weight: 300;
	vertical-align: middle;
	&__img {
		display: inline-block;
		max-width: 140px;
		height: auto;
	}
	&__title {
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 18px;
		text-align: center;
	}
	&__color {
		display: inline-block;
		margin-right: 20px;
		width: 20px;
		height: 20px;
	}
	&__size {
		display: inline-block;
		margin-right: 20px;
		font-size: 12px;
		text-transform: uppercase;
	}
	&__price {
		display: inline-block;
		font-size: 18px;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		height: 8px;
		width: 80px;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			width: 10%;
			height: 1px;
			background-color: #000;
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			position: absolute;
			width: 10%;
			height: 1px;
			background-color: #000;
			transform: rotate(-45deg);
		}
	}
	&__amount {
		position: absolute;
		bottom: 0;
		left: 140px;
		font-size: 12px;
	}
}

//footer
footer {
	padding-bottom: 125px;
	@include font16light;
}
.footer-menu {
	margin-bottom: 45px;
	text-transform: uppercase;
	&__item {
		margin-bottom: 16px;
	}
	&__link:after {
		bottom: -2px;
	}
}
.social {
	&__link {
		display: inline-block;
		margin-bottom: 15px;
		border-bottom: 1px solid #000;
	}
}
.contacts {
	&__item {
		position: relative;
		display: block;
		margin-bottom: 15px;
		&--plus {
			position: absolute;
			left: -10px;
		}
	}
}
.isagancy__link {
	border-bottom: 1px solid #000;
}